!!! HTML
%html{:lang => "en"}
   %head
      %title
         {Title}
      %meta{:charset => "utf-8"}/
      %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1.0,shrink-to-fit=no"}/
      %link{:rel => "stylesheet", :href => "screen.css"}/
      %link{:rel => "shortcut icon", :type => "application/rss+html", :href => "{RSS}"}
      %body
         %div{:class => "title", :id => "maintitle-container"}
            %figure{:id => "logo1", :role => "img", "aria-labelledby" => "ICARUS-Logo"}
               %img{:id => "logoimg", :src => "img/ICARUS_sm.png", :alt => "Icarus Logo"}
            %h1
               Icarus Main Tumblr
            {block:Description}
            %div{:class => "titletext"}
               %h2
                  Alex Ballmer
            %p
               {Description}
            {/block:Description}
      %div{:id => "columnone"}
         %div{:class => "sidebar"}
            %h2
               Navigation
            %ul
         %p
            %ol{:id => "maincol-container", :class => "boxlist"}
               {block:Posts}{block:Text}
               %li{:id => "maincol-item-text", :class => "boxlist-box"}
               {/block:Text}{block:Photo}
               %li{:id => "maincol-item-photo", :class => "boxlist-box"}
               {/block:Photo}{block:Panorama}
               %li{:id => "maincol-item-panorama", :class => "boxlist-box"}
               {/block:Panorama}{block:Photoset}
               %li{:id => "maincol-item-photoset", :class => "boxlist-box"}
               {/block:Photoset}{block:Quote}
               %li{:id => "maincol-item-quote", :class => "boxlist-box"}
               {/block:Quote}{block:Link}
               %li{:id => "maincol-item-link", :class => "boxlist-box"}
               {/block:Link}{block:Chat}
               %li{:id => "maincol-item-chat", :class => "boxlist-box"}
               {/block:Chat}{block:Video}
               %li{:id => "maincol-item-video", :class => "boxlist-box"}
               {/block:Video}{block:Audio}
               %li{:id => "maincol-item-audio", :class => "boxlist-box"}
               {/block:Audio}{/block:Posts}
