!!! HTML
%html{:lang => "en"}
   %head
      %title
         Ballmer Labs
      %meta{:charset => "utf-8"}/
      %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1.0,shrink-to-fit=no"}/
      %link{:rel => "stylesheet", :href => "screen.css"}/
      %body
         %div{:class => "title", :id => "maintitle-container"}
            %figure{:id => "logo1", :role => "img", "aria-labelledby" => "ICARUS-Logo"}
               %img{:id => "logoimg", :src => "img/ICARUS_sm.png", :alt => "Icarus Logo"}
            %h1
               Icarus Main Site
            %div{:class => "titletext"}
               %h2
                  Alex Ballmer
            %p
               My name is Alex Ballmer. I make useful things. Why not check some of them out here?
      %div{:id => "columnone"}
         %div{:class => "sidebar"}
            %h2
               Navigation
            %ul
      
                       
